<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615280931893-9grlq49pjvd8kja6qbpmg60rsf1hqjna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615280931893-9grlq49pjvd8kja6qbpmg60rsf1hqjna</string>
	<key>API_KEY</key>
	<string>AIzaSyADt7yKRto1knGVaSj8Dm7d8MQp4fr9kks</string>
	<key>GCM_SENDER_ID</key>
	<string>615280931893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.huynd2Assignment</string>
	<key>PROJECT_ID</key>
	<string>assignment-endpart</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment-endpart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615280931893:ios:ae066d7ff76ec0e1baad7c</string>
</dict>
</plist>